<section>
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="intro-wrapper">
      <div class="intro">
        <p class="about-me-intro">
          I work with people all over the world to create impressive and
          <span class="functional">functional</span>
          <span class="websites">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ../img/about-me/about-me-desktop.png    1x,
            ../img/about-me/about-me-desktop@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/about-me/about-me-tablet.png    1x,
            ../img/about-me/about-me-tablet@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1439px)"
        />
        <source
          srcset="
            ../img/about-me/about-me-mobile.png    1x,
            ../img/about-me/about-me-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img"
          src="../img/about-me/about-me-mobile.png"
          alt="my photo"
          class="about-me-img"
        />
      </picture>
    </div>
    <ul class="about-me-list">
      <li class="about-me-item">
        <div class="about-me-title-container">
          <h3 class="about-me-title">ABOUT ME</h3>
          <button class="about-me-button-slider-down">
            <svg class="icon-svg-slider-down" height="20" width="20">
              <use href="../img/icons.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="about-me-paragraph-container">
          <p class="about-me-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. <br />
            I am always looking for opportunities for self-improvement. I
            actively study new technologies and practices to stay abreast of the
            latest innovations. I have a strong understanding of various
            programming languages, frameworks and architectural concepts that
            allow me to create efficient and scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-item">
        <div class="about-me-title-container">
          <h3 class="about-me-title">ROLE</h3>
          <button class="about-me-button-slider-down">
            <svg class="icon-svg-slider-down" height="20" width="20">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <ul class="role-list visually-hidden">
          <li class="role-list-item">Frontend development</li>
          <li class="role-list-item">HeadlessCMS,Wordpress</li>
          <li class="role-list-item">Blender(enjoy)</li>
        </ul>
      </li>
      <li class="about-me-item">
        <div class="about-me-title-container">
          <h3 class="about-me-title">EDUCATION</h3>
          <button class="about-me-button-slider-down">
            <svg class="icon-svg-slider-down" height="20" width="20">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <ul class="education-list visually-hidden">
          <li class="edication-list-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="edication-list-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="edication-list-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </li>
    </ul>

    <div class="skills-section">
      <ul class="skills-list">
        <li class="skills-list-item red"><p class="skill-name">HTML/CSS</p></li>
        <li class="skills-list-item"><p class="skill-name">JavaScript</p></li>
        <li class="skills-list-item"><p class="skill-name">React</p></li>
        <li class="skills-list-item"><p class="skill-name">Node. js</p></li>
        <li class="skills-list-item"><p class="skill-name">React Native</p></li>
        <li class="skills-list-item"><p class="skill-name">Soft skills</p></li>
      </ul>

      <button class="skills-btn-arrow-right">
        <svg class="icon-svg-arrow-right" height="45" width="45">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  <script type="module" src="../js/about-me.js"></script>
</section>
