<section class="covers-section">
  
    <h2 class="visually-hidden">Covers</h2>
    <ul class="covers">
      <li>
      <ul class="covers-list">
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-1.jpg 1x, /img/covers/project-1@2x.jpg 2x">
            <img src="/img/covers/project-1.jpg" alt="project-photo" />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-2.jpg 1x, /img/covers/project-2@2x.jpg 2x">
            <img src="/img/covers/project-2.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-3.jpg 1x, /img/covers/project-3@2x.jpg 2x">
            <img src="/img/covers/project-3.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-4.jpg 1x, /img/covers/project-4@2x.jpg 2x">
            <img src="/img/covers/project-4.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-5.jpg 1x, /img/covers/project-5@2x.jpg 2x">
            <img src="/img/covers/project-5.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-6.jpg 1x, /img/covers/project-6@2x.jpg 2x">
            <img src="/img/covers/project-6.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-7.jpg 1x, /img/covers/project-7@2x.jpg 2x">
            <img src="/img/covers/project-7.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-8.jpg 1x, /img/covers/project-8@2x.jpg 2x">
            <img src="/img/covers/project-8.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-9.jpg 1x, /img/covers/project-9@2x.jpg 2x">
            <img src="/img/covers/project-9.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-10.jpg 1x, /img/covers/project-10@2x.jpg 2x">
            <img src="/img/covers/project-10.jpg" alt="project-photo"/>
          </picture>
        </li>
      </ul>
    </li>
    <li>
      <ul class="covers-list">
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-1.jpg 1x, /img/covers/project-1@2x.jpg 2x">
            <img src="/img/covers/project-1.jpg" alt="project-photo" />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-2.jpg 1x, /img/covers/project-2@2x.jpg 2x">
            <img src="/img/covers/project-2.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-3.jpg 1x, /img/covers/project-3@2x.jpg 2x">
            <img src="/img/covers/project-3.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-4.jpg 1x, /img/covers/project-4@2x.jpg 2x">
            <img src="/img/covers/project-4.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-5.jpg 1x, /img/covers/project-5@2x.jpg 2x">
            <img src="/img/covers/project-5.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-10.jpg 1x, /img/covers/project-10@2x.jpg 2x">
            <img src="/img/covers/project-10.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-6.jpg 1x, /img/covers/project-6@2x.jpg 2x">
            <img src="/img/covers/project-6.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-8.jpg 1x, /img/covers/project-8@2x.jpg 2x">
            <img src="/img/covers/project-8.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-9.jpg 1x, /img/covers/project-9@2x.jpg 2x">
            <img src="/img/covers/project-9.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-7.jpg 1x, /img/covers/project-7@2x.jpg 2x">
            <img src="/img/covers/project-7.jpg" alt="project-photo"/>
          </picture>
        </li>
        
      </ul>
    </li>
    <li>
      <ul class="covers-list">
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-4.jpg 1x, /img/covers/project-4@2x.jpg 2x">
            <img src="/img/covers/project-4.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-5.jpg 1x, /img/covers/project-5@2x.jpg 2x">
            <img src="/img/covers/project-5.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-1.jpg 1x, /img/covers/project-1@2x.jpg 2x">
            <img src="/img/covers/project-1.jpg" alt="project-photo" />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-9.jpg 1x, /img/covers/project-9@2x.jpg 2x">
            <img src="/img/covers/project-9.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-10.jpg 1x, /img/covers/project-10@2x.jpg 2x">
            <img src="/img/covers/project-10.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-2.jpg 1x, /img/covers/project-2@2x.jpg 2x">
            <img src="/img/covers/project-2.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-3.jpg 1x, /img/covers/project-3@2x.jpg 2x">
            <img src="/img/covers/project-3.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-6.jpg 1x, /img/covers/project-6@2x.jpg 2x">
            <img src="/img/covers/project-6.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-7.jpg 1x, /img/covers/project-7@2x.jpg 2x">
            <img src="/img/covers/project-7.jpg" alt="project-photo"/>
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source srcset="/img/covers/project-8.jpg 1x, /img/covers/project-8@2x.jpg 2x">
            <img src="/img/covers/project-8.jpg" alt="project-photo"/>
          </picture>
        </li>
      </ul>
    </li>
    </ul>

</section>
