<section class="covers-section">
  <div class="container">
    <h1 class="visually-hidden">Covers</h1>
    <ul class="covers">
      <ul class="covers-list">
        <li class="covers-item">
          <img src="/img/covers/project-1.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-2.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-3.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-4.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-5.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-6.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-7.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-8.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-9.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-10.png" />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <img src="/img/covers/project-10.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-9.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-8.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-7.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-6.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-5.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-4.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-3.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-2.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-1.png" />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <img src="/img/covers/project-1.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-2.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-3.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-10.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-9.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-8.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-5.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-6.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-7.png" />
        </li>
        <li class="covers-item">
          <img src="/img/covers/project-4.png" />
        </li>
      </ul>
    </ul>
  </div>
</section>
