<section>
  <div class="container">
    <ul class="covers">
      <ul class="covers-list">
        <li class="covers-item">
          <img src="/src/img/covers/project-1.png" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-2.png" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-3.png" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-4.png" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-6.png" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-7.png" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-8.png" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/" alt="">
        </li>
        <li class="covers-item">
          <img src="/src/img/covers/project-10.png" alt="">
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
        <li class="covers-item">
          <img src="" alt="">
        </li>
      </ul>
    </ul>
  </div>
</section>