<section id="faq">
  <div class="container">
    <div class="content-wrapper-faq">
      <ul class="main-list">
        <li class="main-list-item first">
          <ul class="other-list">
            <li class="other-list-item">
              <div class="title-button-wrapper-faq">
                <h3 class="list-item-title-faq">What programming languages are most often used in your project?</h3>
                  <button class="svg-icon-btn-faq">    
                    <svg class="svg-icon-faq" width="24" height="24">
                      <use href="/img/icons.svg#icon-arrow-down"></use>
                    </svg>
                  </button>
              </div>
              <p class="other-list-item-paragraph">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="other-list-item">
              <div class="title-button-wrapper-faq">
                <h3 class="list-item-title-faq">What are the deadlines for the project?</h3>
                  <button class="svg-icon-btn-faq">    
                    <svg class="svg-icon-faq" width="24" height="24">
                      <use href="/img/icons.svg#icon-arrow-down"></use>
                    </svg>
                  </button>
              </div>
              <p class="other-list-item-paragraph">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li class="other-list-item">
              <div class="title-button-wrapper-faq">
                <h3 class="list-item-title-faq">What payment methods do you accept?</h3>
                  <button class="svg-icon-btn-faq">    
                    <svg class="svg-icon-faq" width="24" height="24">
                      <use href="/img/icons.svg#icon-arrow-down"></use>
                    </svg>
                  </button>
              </div>
              <p class="other-list-item-paragraph">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
          </ul>
        </li>
        <li class="main-list-item second">
          <ul class="other-list">
            <li class="other-list-item">
              <div class="title-button-wrapper-faq">
                <h3 class="list-item-title-faq">How can I contact you?</h3>
                  <button class="svg-icon-btn-faq">    
                    <svg class="svg-icon-faq" width="24" height="24">
                      <use href="/img/icons.svg#icon-arrow-up"></use>
                    </svg>
                  </button>
              </div>
              <p class="other-list-item-paragraph">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="other-list-item">
              <div class="title-button-wrapper-faq">
                <h3 class="list-item-title-faq">Do you provide advice or support?</h3>
                  <button class="svg-icon-btn-faq">    
                    <svg class="svg-icon-faq" width="24" height="24">
                      <use href="/img/icons.svg#icon-arrow-up"></use>
                    </svg>
                  </button>
              </div>
              <p class="other-list-item-paragraph">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li class="other-list-item">
              <div class="title-button-wrapper-faq">
                <h3 class="list-item-title-faq">Do you provide advice or support?</h3>
                  <button class="svg-icon-btn-faq">    
                    <svg class="svg-icon-faq" width="24" height="24">
                      <use href="/img/icons.svg#icon-arrow-up"></use>
                    </svg>
                  </button>
              </div>
              <p class="other-list-item-paragraph">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
