<section class="FAQ">
  <div class="container">
    <h2 class="title-FAQ">FAQ</h2>
        <ul class="list">
            <li>
                <div class="section-list">
                    <div class="container-head">
                    <h3 class="title-question">What programming languages   are most often used in your project?</h3>
                    <button class="close-btn" type="button">
                        <svg class="close-btn-svg" width="20" height="20" aria-label="close-button-icon">
                          <use href="../img/icons.svg#icon-arrow-up"></use>
                        </svg>
                      </button>
                    </div>
                    <p class="info">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li>
                
                <h3 class="title-question">What are the deadlines for the project?</h3>
                <p class="info">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li>
                
                <h3 class="title-question">What payment methods do you accept?</h3>
                <p class="info">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
            <li>
               
                <h3 class="title-question">How can I contact you?</h3>
                <p class="info">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li>
                
                <h3 class="title-question">Do you provide advice or support?</h3>
                <p class="info">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li>
                
                <h3 class="title-question">What does the process of developing a software product look like from idea to implementation?</h3>
                <p class="info">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
        </ul>
  </div>
</section>
