<header>
  <div class="container">
  <nav class="header-nav">
    <img 
      class="header-nav"
      src="./public/favicon.svg" 
      alt="Company's logo">
      <p>jefferson*</p>
    </img>
    <a class="header-nav-menu-link" href="./modal-window.html">Menu</a>
  </nav>
<button class="open-mobile-menu-btn">
<a class="open-mobile-menu-link" href=""></a>
</button>
<button class="open-mobile-order-btn">
  <a class="open-mobile-menu-link" href="./work-together.html">Order the project</a>
</button>


  </div>
</header>

