<section>
  <div class="container">
    <div class="hero-title-container">
      <h1 class="hero-header">
        HELLO.<br />
        I'M FULL STACK DEVELOPER LLOYD JEFFERSON
      </h1>
    </div>
    <div>
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a
            class="hero-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >IG</a
          >
        </li>
        <li class="hero-social-list">
          <a
            class="hero-link"
            href="https://www.facebook.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >FB
          </a>
        </li>
        <li class="hero-social-list">
          <a
            class="hero-link"
            href="https://www.youtube.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >YT
          </a>
        </li>
        <li class="hero-social-list">
          <a
            class="hero-link"
            href="https://www.githab.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >GT
          </a>
        </li>
      </ul>
      <address class="hero-address">
        <div class="hero-post-wrap">
          <a class="hero-post" href="lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </div>
      </address>
    </div>
  </div>
</section>
