<section class="hero id=hero">
  <div class="container">
    <h1 class="hero-title">
      HELLO.<br />
      I'M FULL STACK DEVELOPER LLOYD JEFFERSON
    </h1>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >IG</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.facebook.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >FB
        </a>
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.youtube.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >YT
        </a>
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.githab.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >GT
        </a>
      </li>
      <li class="hero-social-item-email hero-social-item">
        <a class="hero-post" href="lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
