<section class="project" id="projects">
  <div class="container">
    <h2 class="project-title">PROJECTS</h2>
    <div class="swiper project">
        <ul class="project-list swiper-wrapper">
        <li class="first-project-item half-background swiper-slide">
        <div class="project-item">
          <div class="main">
            <ul class="list-name">
              <li class="item-react">#react</li>
              <li class="item-js">#js</li>
              <li class="item-node">#node js</li>
              <li class="item-git">#git</li>
            </ul>
            <h3 class="project-under-title">Programming Across <br/>Borders: Ideas,<br/>Technologies, Innovations</h3>
            <a href="https://github.com/KvashaVladyslav/project-group-18" target="_blank" class="project-btn">See
                project</a>
          </div>
          <div class="project-thumb">
            <picture>
              <source srcset="
              /img/projects/tablet-desktop/project-1-desktop-tablet-photo.jpg 1x,
            /img/projects/tablet-desktop/project-1-desktop-tablet-photo@2x.jpg 2x"
            media="(min-width: 768px)"
              />
              <source 
              srcset="
              /img/projects/mobile/project-1-mobile-photo.jpg 1x,
            /img/projects/mobile/project-1-mobile-photo@2x.jpg 2x,"
            media="(max-width: 767px)"
              />
            <img class="project-img" src="/img/projects/mobile/project-1-mobile-photo.jpg" alt="screen" width="614" height="385"/>
            </picture>
          </div>

        </div>
      </li>

      <li class="first-project-item half-background swiper-slide">
        <div class="project-item">
          <div class="main">
            <ul class="list-name">
              <li class="item-react">#react</li>
              <li class="item-js">#js</li>
              <li class="item-node">#node js</li>
              <li class="item-git">#git</li>
            </ul>
            <h3 class="project-under-title">Programming Across<br />Borders: Ideas,<br />Technologies, Innovations</h3>
            <a href="https://github.com/KvashaVladyslav/team-project-group-20" target="_blank" class="project-btn">See
                project</a>
          </div>
          <div class="project-thumb">
  <picture>
    <source srcset="
              /img/projects/tablet-desktop/project-2-desktop-tablet-photo.jpg 1x,
            /img/projects/tablet-desktop/project-2-desktop-tablet-photo@2x.jpg 2x," media="(min-width: 768px)" />
    <source srcset="
              /img/projects/mobile/project-2-mobile-photo.jpg 1x,
              /img/projects/mobile/project-2-mobile-photo@2x.jpg 2x," media="(max-width: 767px)" />
      <img class="project-img" src="/img/projects/mobile/project-2-mobile-photo.jpg" alt="screen" width="614" height="385" />
  </picture>
          </div>
        </div>
      </li>
      <li class="first-project-item half-background swiper-slide">
        <div class="project-item">
          <div class="main">
            <ul class="list-name">
              <li class="item-react">#react</li>
              <li class="item-js">#js</li>
              <li class="item-node">#node js</li>
              <li class="item-git">#git</li>
            </ul>
            <h3 class="project-under-title">Programming Across<br />Borders: Ideas,<br />Technologies, Innovations</h3>
            <a href="https://github.com/KvashaVladyslav/team-project-group-20" target="_blank" class="project-btn">See
                project</a>
          </div>
          <div class="project-thumb">
              <picture>
                <source srcset="
                              /img/projects/tablet-desktop/project-3-desktop-tablet-photo.jpg 1x,
                            /img/projects/tablet-desktop/project-3-desktop-tablet-photo@2x.jpg 2x," media="(min-width: 768px)" />
                <source srcset="
                              /img/projects/mobile/project-3-mobile-photo.jpg 1x,
                            /img/projects/mobile/project-3-mobile-photo@2x.jpg 2x," media="(max-width: 767px)" />
              
                <img class="project-img" src="/img/projects/mobile/project-3-mobile-photo.jpg" alt="screen" width="614" height="385" />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
      <ul class="btn-svg">
          <li class="btn-item btn-item-left">
            <a class="swiper-btn-prev swiper-btn" tabindex="0"><svg class="project-arrow-svg">
                <use href="/img/icons.svg#icon-arrow-left"></use>
              </svg>
            </a>
          </li>
          <li class="btn-item">
            <a class="swiper-btn-next swiper-btn" tabindex="0"><svg class="project-arrow-svg">
                <use href="/img/icons.svg#icon-arrow-right"></use></svg>
            </a>
          </li>
      </ul>
  </div>
</section>