<section class="project">
  <div class="container swiper">
    <h2 class="project-title">PROJECTS</h2>
    <ul class="project-list swiper-wrapper">

      <li class="first-project-item half-background swiper-slide">
        <div class="project-container">
          <div class="main">
            <ul class="list-name">
              <li class="item-react">#react</li>
              <li class="item-js">#js</li>
              <li class="item-node">#node js</li>
              <li class="item-git">#git</li>
            </ul>
            <h3 class="project-under-title">Programming Across<br />Borders: Ideas,<br />Technologies, Innovations</h3>
            <a href="https://kotyshevayulya.github.io/goit-js-hw-12/" target="_blank"><button class="project-btn">See
                project</button></a>
          </div>
          <div class="project-thumb">
            <img class="project-img" src="../img/projects/project-1.png" alt="" />
          </div>
        </div>
      </li>

      <li class="first-project-item half-background swiper-slide">
        <div class="project-container">
          <div class="main">
            <ul class="list-name">
              <li class="item-react">#react</li>
              <li class="item-js">#js</li>
              <li class="item-node">#node js</li>
              <li class="item-git">#git</li>
            </ul>
            <h3 class="project-under-title">Programming Across<br />Borders: Ideas,<br />Technologies, Innovations</h3>
            <a href="https://kotyshevayulya.github.io/goit-js-hw-12/" target="_blank"><button class="project-btn">See
                project</button></a>
          </div>
          <div class="project-thumb">
            <img class="project-img" src="../img/projects/project-4.png" alt="" />
          </div>
        </div>
      </li>

      <li class="first-project-item half-background swiper-slide">
        <div class="project-container">
          <div class="main">
            <ul class="list-name">
              <li class="item-react">#react</li>
              <li class="item-js">#js</li>
              <li class="item-node">#node js</li>
              <li class="item-git">#git</li>
            </ul>
            <h3 class="project-under-title">Programming Across<br />Borders: Ideas,<br />Technologies, Innovations</h3>
            <a href="https://kotyshevayulya.github.io/goit-js-hw-12/" target="_blank"><button class="project-btn">See
                project</button></a>
          </div>
          <div class="project-thumb">
            <img class="project-img" src="../img/projects/project-3.png" alt="" />
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>