<section class="reviews">
  <div class="container">
    <h2 class="review-title">REVIEWS</h2>
    <div class="swiper reviews">
    <ul class="review-list swiper-wrapper">
    </ul>
  </div>
    <ul class="swiper-navigation">
      <li class="btn-item btn-item-left">
        <a class="swiper-btn-prev swiper-btn review"><svg class="project-arrow-svg">
            <use href="/img/icons.svg#icon-arrow-left"></use>
          </svg>
        </a>
      </li>
      <li class="btn-item">
        <a class="swiper-btn-next swiper-btn review"><svg class="project-arrow-svg">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>

