body {
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background: #1C1D20;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
}


@media screen and (max-width:767px) {
    .container {
        max-width: 375px;
        padding: 0px 16px;
    }

    section {
        padding: 32px 0px;
    }

    .section-footer {
        padding-top: 32px;
    }
}



@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0px 32px;
    }

    section {
        padding: 48px 0px;
    }

    .section-footer {
        padding-top: 48px;
    }

}



@media screen and (min-width:1440px) {
    .container {
        max-width: 1440px;
    }

    section {
        padding: 82px 0px;
    }

    .section-footer {
        padding-top: 82px;
    }

}

