/* ==========================mobile-320======================== */

.benefits-title {
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.benefits-list-card {
    display: flex;
    border-radius: 20px;
    background: #242527;
    padding: 24px;
    max-width: 344px;
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.card-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.benefits-list-card-icon {
    border-radius: 10px;
    background: #ED3B44;
    padding: 12px;
    fill: #ED3B44;
    stroke: #FAFAFA;
    width: 44px;
    height: 44px;
}

.card-title {
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.025em;
    align-self: stretch;
    
}

.card-text {
    color: rgba(250, 250, 250, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.02em;
    align-self: stretch;
    
}


.order-the-project-btn {
    display: flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-top: 32px;
    width: max-content;
}

.order-the-project-btn:hover,
.order-the-project-btn:focus {
    border: 1px solid #fafafa;
}

/* ==========================tablet-768======================== */

@media screen and (min-width: 768px) {

    .content {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
    }

    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 16px;
        row-gap: 16px;
        max-width: 704px;
    }

    .order-the-project-btn {
        margin-top: 64px;
    }
}

/* =========================desktop-1440======================== */

@media screen and (min-width: 1440px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        flex-direction: column;
    }

    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
        margin-right: 0;
    }


    .benefits-title {
        margin-bottom: 0;
    }
}