/* ==========================mobile-320======================== */

.container {
    width: 344px;
}

.benefits-title {
    width: 284px;
    height: 24px;
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.benefits-list-card {
    display: flex;
    border-radius: 20px;
    background: #242527;
    width: 296px;
    height: 222px;
    padding: 24px;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.benefits-list-card-icon {
    border-radius: 10px;
    background: #ED3B44;
    padding: 12px;
    fill: #ED3B44;
    stroke: #FAFAFA;
}

.card-title {
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.87;
    letter-spacing: -0.025em;
    align-self: stretch;
    margin-top: 64px;
}

.card-text {
    color: rgba(250, 250, 250, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.02em;
    align-self: stretch;
    margin-top: 8px;
}


.order-the-project-btn {
    display: flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);

    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.025em;

    margin-top: 32px;
}

/* ==========================tablet-768======================== */

@media screen and (min-width: 768px) {

    .container {
        width: 704px;
        max-width: 768px;
        margin: 0 auto;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        width: 704px;
        height: 675px;
        margin-right: 0;
    }

    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 16px;
        row-gap: 16px;
    }

    .order-the-project-btn {
        margin-top: 64px;
    }
}

/* =========================desktop-1440======================== */

@media screen and (min-width: 1440px) {

    .container {
        width: 1376px;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        width: 680px;
        height: 675px;
    }

    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
        margin-right: 0;
    }

    .benefits-list-card {
        width: 284px;
        height: 222px;
    }

    .benefits-title {
        margin-bottom: 0;
    }
}