section {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  position: relative;
  background-image: url(../img/covers/background.png);
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .covers-item {
    width: 544px;
    height: 314px;
  }

  section {
    padding: 82px 0px;
  }
}

.covers {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.covers-list {
  height: 100hv;
  display: flex;
  transform: rotate(17deg);
}

.covers-item {
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
  animation-name: coversItem;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes coversItem {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
