.hero-header {
}

.hero-social-list {
}

.hero-social-item {
}

.hero-link {
  border: 1ps solid #e8dada;
  gap: 8px;
  border-radius: 50%;
}

.hero-address {
  border: 1ps solid #e8dada;
  border-radius: 50%;
}

.hero-post-wrap {
}

.hero-post {
}
