.hero-header {
}

.hero-social-list {
}

.hero-social-item {
}

.hero-link {
  border: 1ps solid #e8dada;
  gap: 8px;
  border-radius: 50%;
}

.hero-address {
  border: 1ps solid #e8dada;
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-post-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-post {
}
