h2 {
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
}

.review-card {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 20px;
    border: 1px solid rgba(250, 250, 250, 0.20);
}

.img-avatar{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, #E0E0E0;
}

.author-name{
    align-self: stretch;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.review-text{
    width: 295px;
    color: rgba(250, 250, 250, 0.60);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
}


.review-list{
    margin-bottom: 32px;
}




.project-arrow-svg {
    fill: none;
    stroke: #fafafa;
}

.btn-svg {
    display: flex;
    justify-content: center;
}

.swiper-btn {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    margin-bottom: 32px;
}

.project-arrow-svg {
    width: 24px;
    height: 24px;
}

.btn-item-left {
    margin-right: 12px;
}

.swiper-btn-prev.swiper-button-disabled,
.swiper-btn-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
}