.scroll-btn {
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: none;
    stroke: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    background-color: rgba(28, 29, 32, 0.7);
    animation: rotate 2s infinite linear;
    z-index: 999;
    transform: rotate(-60deg);
    padding: 10px 10px;
  }
  
  @keyframes rotate {
    0% {
        transform: rotate(-120deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(-120deg);
    }
  }